.container {
  position: relative;
  width: 100%;
  min-height: 90vh;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 3px 10px black;
}
.Icons {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: absolute;
  width: 50%;
  background-color: white;
  height: 100%;
}
.icon {
  cursor: pointer;
  color: #212529;
  transition: 0.5s;
}
.icon:hover {
  color: blue;
}
