form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 10px black;
}

.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 90%;
}
button[type='submit'] {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}
button[type='submit']:hover {
  background-color: #0069d9;
}
